.main {
  background-color: #1976d2;
}

.nav-item {
  margin-left: 8px;
}

.nav-item a {
  color: #ffffff;
}

.nav-item :hover {
  background-color: #007bff;
}

.btn-login {
  background-color: #007bff;
  color: #ffffff;
}
